QLabel {
    background-color: transparent;
    font-family: "Segoe UI";
    color: @@Text@@;
    font: 20px;
    text-align: left;
}

QLabel#withoutIcon {
    margin-left: 10px;
}

QPushButton {
    border-style: solid;
    border-color: @@Window@@;
    background-color: @@Window@@;
}

QPushButton#withIcon {
    border-width: 10px;
}

QPushButton:hover, QPushButton:pressed {
    background-color: @@Highlight@@;
}
