[submodule "plugins/robots/thirdparty/trikRuntime"]
	path = plugins/robots/thirdparty/trikRuntime/trikRuntime
	url = https://github.com/trikset/trikRuntime
[submodule "qrtest/thirdparty/googletest/googletest"]
	path = qrtest/thirdparty/googletest/googletest
	url = https://github.com/google/googletest
[submodule "qrgui/thirdparty/qt-solutions"]
	path = qrgui/thirdparty/qt-solutions
	url = https://github.com/trikset/qt-solutions
[submodule "thirdparty/gamepad/gamepad"]
	path = thirdparty/gamepad/gamepad
	url = https://github.com/trikset/trik-desktop-gamepad
[submodule "plugins/robots/thirdparty/hidapi"]
	path = plugins/robots/thirdparty/hidapi
	url = https://github.com/libusb/hidapi
[submodule "thirdparty/quazip/quazip"]
	path = thirdparty/quazip/quazip
	url = https://github.com/stachenov/quazip.git
[submodule "plugins/robots/thirdparty/Box2D/Box2D"]
	path = plugins/robots/thirdparty/Box2D/Box2D
	url = https://github.com/iakov/Box2D
	branch = "trik-studio"
[submodule "thirdparty/qslog/qslog"]
	path = thirdparty/qslog/qslog
	url = https://bitbucket.org/codeimproved/qslog.git
[submodule "installer/nxt-tools"]
	path = installer/nxt-tools
	url = https://github.com/trikset/nxt-tools.git
	branch = main
[submodule "trik-checkapp"]
	path = thirdparty/checkapp/checkapp
	url = https://github.com/trikset/trik-checkapp
