[submodule "qrtest/thirdparty/googletest/googletest"]
	path = qrtest/thirdparty/googletest/googletest
	url = https://github.com/google/googletest
[submodule "qrgui/thirdparty/qt-solutions"]
	path = qrgui/thirdparty/qt-solutions
	url = https://github.com/trikset/qt-solutions
[submodule "thirdparty/gamepad/gamepad"]
	path = thirdparty/gamepad/gamepad
	url = https://github.com/trikset/trik-desktop-gamepad
[submodule "thirdparty/quazip/quazip"]
	path = thirdparty/quazip/quazip
	url = https://github.com/stachenov/quazip.git
[submodule "thirdparty/qslog/qslog"]
	path = thirdparty/qslog/qslog
	url = https://bitbucket.org/codeimproved/qslog.git
[submodule "plugins/robots/thirdparty/trikRuntime/trikRuntime"]
	path = plugins/robots/thirdparty/trikRuntime/trikRuntime
	url = https://github.com/trikset/trikRuntime
