language: generic

git:
  depth: 20

env:
  global:
    - PYENV_ROOT="$HOME/pyenv.root"
    - CONFIG=release
    - VERA=false
    - PROJECT=studio
    - TESTS=true
    - TRANSLATIONS=false
    - INSTALLER=false
    - BUILD_TIMEOUT=2400
    - EARLY_START_DOCKER_PULL_PID=$( if [ $TRAVIS_OS_NAME = 'linux' ] ; then time docker pull trikset/linux-builder ; else true ; fi >&2 & echo $!)
    - HEARTBEAT=$(while sleep 100; do echo "=====[ $SECONDS seconds, still building... ]====="; done >&2 & echo $! )
    - ALL_TESTS="./robots_kitBase_unittests && ./robots_interpreterCore_unittests && ./robots_twoDModel_unittests && ./trik-v62-qts-generator-tests && ./robots_utils_unittests && ./run-simulator-tests.sh"
    - QMAKE_EXTRA="CONFIG+=tests CONFIG+=noPch CONFIG+=ccache"
    - secure: "UioSKmbIZQXcavbLTZxdBUeg0Au5wOUsGTMpHM28FZzZoTxwuXtFYETccJVZly2Wh4gq627dO6oYb0G45d8IHpHXgWgFYS0WQjimGhdMAM6LqNPrDTx1W9KFOrnZwcmA7xyMEKihjMRnzyHl7fpq2ITBhn5LJcBsC3grgWKgyEDiaN75J4joOSx9dQgdA0O1OnKQBsc32TvGurOaqdZnPueyQ7dYwc2r82o9VN0sITGeDN2L3aC35nntb+d/V94sAgbcWHWfICOubLTmcUEcgqbimHd9nojqSJyWR+iTy3h16txnD4MfbyfCq1th56gdvo8gh5H/IFiF1IdJyMFH30IJqBhH5OKsupGbcYEg2fOtMNVtMA6w+k5gvpaEs/RVX+lOWAqS56Pxg8p9XAStsgC/5KE9Y3gTj+58uQHwSi297vsEAtDJI5uNY+JDXxgAbVvcsMotsbpDGJFK0bTPheFouL5+iDySNFlo7h0m/8JGvcFi74BQ1xX8L+Zvxt6BF7WwE90N/Li+my4huOjDDQpOm+iO9HD3B0GEM3p0Vt5XuMaAa97pYLDhOb5GNLIkfYYFATQCh3ip20f0asd8OOMYIgQOcVRlwB+LwMLPIroHW2NvKfU6PTG0NcJVqAV8Mbj0uR0O0Ungt5Ww+R8kVI0GnXnAicbhjU5UCZ7yMYw="
    - secure: "beY/A3tMY1MRFk1ZviAs0OLQTtz4a2fOE6l2eObVgCCr+iyxJvbuuPv+SQ23SD3IhcRaJ4hZQ691SD/BtOKBmA6cJ5FJpFhm/YYd57gFe/WrkBF5oNL25vfpGeYS42dNK519ViV6Ix1KFc9WNgLBzR/hHf/K+gDQYEBOJXXL18TH3koTFDYtwsgaBIyCrKvLCE1g1+Q66j8EIj7DKedo8waqITnyK77BWvwa9qEAjYuabH/iiOUgTmoMwX7hK+0ULyoYMp9tPFCr/HDusGRpRr+3Tkg33aRUUWTuuTYZi03U8LXnvIJX5kT0AeOl5Af6KcHZSQvgNt7OhJ9X4TtdC+uStw4uqIMrpR/iXFslk4ynR9paeiBF+NX2ANbGKgjJkMBOKpBXFOAnBq7Ur3zAwef/8oJ4bCHMVr3FZS0ruVDHf01w8Eiul8+fBfXc0MRH4uc1lDlniLgVQyRL6oq54hG64R546pWcQs9SEWZfRqXQgQvKOeIyuSJ3F4Kk8DjukNENWYeKgvKdzyp40o8dWq1V6o9qSKODNtIHlzeYgblWFc+p8YflcQ2ArdM8OI8H4pFhpRlTPmpQMkPRZmEARfuHRjmcry0GOcYaYGWAPXs2d3h0iSNcD/x9npoRB7lbx+bBpU4+RsYJzXc9tGr5reTScEoF4tdl4+SZY+IG3L8="
    - secure: "AWKifRb8Gdo4ag83Ayz7G11l5E6FlR4GIU6TFW3eij6/DwxvDPacaGunqOVG7ek31lXoGChh/GIMu96itr3Ak3lwtjPolDk86Ij9HLDUvt06ttfCIGGHHmtbBJ4I3S+SCNtPwtlW6iFLfSb7bFgrRt+gSgtK/PYC1OX+CaNwaf5io6Z97AOM2KiOx1oDO0m683yQ89dnRV6SfGhAbMvE/Cu16lEJLGpxaF02zX96nsD8z8ao9U9HAOqQUboJMJx/E8UehjBEAdD8VmlmoVKeDkpRkIwyTO9APbo6kI4dHFxSk4qOkw9yY5Y5+dAFA7s1EboLyfBynZ2phi2HL5AN8dwLzQsTzHwgatWedDRXqbivc403VJMciVZGQzWHllRQfjGgTYEIXVNocm7E5SZddCItN38xBy4mVpUww9EDvEeLsHON1cjVM4FONE5m64kFVUVyVDiQpoVfmd0+587Hk8gCxCQsYR3I6zCz/C3q4Zs86pM0LsgkaQCA7m7Lcvz0IPqEF23jsBQmtOMK+zwEe2YaxCNx7GAM4WnE/vRHDgeF7CvZv/w+vJ/DfKqdiHCrsJN68tSW9+QdWfmHySPHNi9BT2Q9bt6mCF08mNRI8ZIR8eognDwtet7WJjM7TRnw2x2xWP9g6ZRZNuwsicew2cy77xe3Zinx6EFZohSLpvk="



cache:
  timeout: 1000
  directories:
    - $PYENV_ROOT
#    - /usr/local/opt/
#    - /usr/local/lib/
    - $HOME/.ccache
#    - $HOME/.cache

addons:
  homebrew:
    brewfile: true
  artifacts:
    paths:
      - build.log

branches:
  except:
    - /dependabot.*/

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
      services: docker
      name: "Linux release"
      env: INSTALLER=true QMAKE_EXTRA="$QMAKE_EXTRA CONFIG-=tests CONFIG+=silent CONFIG+=warn_off"
    - os: linux
      dist: trusty
      sudo: required
      services: docker
      env: CONFIG=debug  VERA=true TESTS=$ALL_TESTS TRANSLATIONS=true QMAKE_EXTRA="$QMAKE_EXTRA CONFIG+=small_debug_info CONFIG+=sanitize_address"
      name: "Linux debug + vera + tests + translations"
    - os: osx
      language: cpp
      name: "macOS release"
      env:  INSTALLER=true QMAKE_EXTRA="$QMAKE_EXTRA CONFIG+=no-sanitizers" BUILD_TIMEOUT=1800
    - os: osx
      language: cpp
      name: "macOS debug + tests"
      env: CONFIG=debug  VERA=false TESTS=$ALL_TESTS QMAKE_EXTRA="$QMAKE_EXTRA CONFIG+=sanitize_address" BUILD_TIMEOUT=1800


before_install:
  - ( ( set -xueo pipefail ;  for f in $(git diff --name-only ${TRAVIS_COMMIT_RANGE} || echo "_UNDEFINED_"); do ! ( for p in "*.md" .cirrus.yml appveyor.yml ; do  [[ $f != $p ]] || exit ; done ) || exit ; done ) && travis_terminate 0 || true )
  - time wait $EARLY_START_DOCKER_PULL_PID || true
  - ./buildScripts/travis/before_install.sh
  - export CCACHE_CONFIGPATH=$HOME/ccache.conf

install:
  - ./buildScripts/travis/install.sh

script:
  - if [ "$TRAVIS_OS_NAME" = "linux" ] ; then export EXECUTOR="time docker exec builder " ; else export EXECUTOR="buildScripts/with_pyenv " ;fi
  - export CCACHE_DIR=$HOME/.ccache/$TRAVIS_OS_NAME-$CONFIG
  - ./buildScripts/travis/script.sh & WPID=$!
  - sleep $BUILD_TIMEOUT && { kill $WPID || true ; echo "***KILLED ON TIMEOUT***" ; } & KPID=$!
  - export TIMEOUT=false
  - wait $WPID ; RES=$?; kill -0 $KPID && kill $KPID > /dev/null || export TIMEOUT=true ; ( exit $RES )

after_script:
  - ./buildScripts/travis/after_script.sh
  - kill $HEARTBEAT
  - tail -n 1000 build.log

after_success:
  - true
