name: ubuntu CI
on:
  push:
    branches-ignore:
      - 'dependabot**'
    tags:
      - '*'
    paths-ignore:
      - '**/lsan.supp'
      - 'buildScripts/travis/*'
      - 'buildScripts/azure/*'
      - 'buildScripts/docker/*'
      - 'azure-pipelines.yml'
      - '.cirrus.yml'
      - '.travis.yml'
      - '.mergify.yml'
      - 'Brewfile'
      - '**/*.html'
      - '**/*.txt'
      - '**/*.md'
      - 'installer/packages/**/meta/prebuild-mac.sh'
      - 'installer/packages/**/meta/prebuild-linux-gnu.sh'
      - '**/*.dockerfile'
      - '**/*.Dockerfile'
      - '**/Dockerfile'
      - '**/Dockerfile.*'
      - 'plugins/robots/checker/scripts/build-checker-installer.sh'
      - '.github/workflows/centos.yml'
  pull_request:
    branches-ignore:
      - 'dependabot**'
  workflow_dispatch:
  
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
  
jobs:
  lint:
    uses: ./.github/workflows/setup_environment.yml
    with:
      os: ubuntu-latest
      lint: true
      build: false
      build_installer: false

  build-macos-release-tests:
    needs: lint
    uses: ./.github/workflows/setup_environment.yml
    with:
      os: macos-12
      build: true
      build_installer: false
      qmake_extra: "CONFIG+=tests CONFIG+=noPch CONFIG+=ccache CONFIG+=no-sanitizers CONFIG+=warn_off"
      trik_python3_version_minor: "11"

  build-macos-debug-tests:
    needs: lint
    uses: ./.github/workflows/setup_environment.yml
    with:
      os: macos-12
      build: true
      build_installer: false
      config: debug
      qmake_extra: "CONFIG+=warn_off CONFIG+=tests CONFIG+=noPch CONFIG+=ccache CONFIG+=small_debug_info CONFIG+=sanitizer CONFIG+=sanitize_undefined CONFIG+=sanitize_address"
      trik_python3_version_minor: "11"
      
  build-macos-installer:
    needs: [build-macos-debug-tests, build-macos-release-tests]
    uses: ./.github/workflows/setup_environment.yml
    with:
      os: macos-12
      build: true
      build_installer: true
      qmake_extra: " CONFIG+=noPch CONFIG+=ccache CONFIG+=no-sanitizers CONFIG+=silent CONFIG+=warn_off"
      trik_python3_version_minor: "11"
      tests: true
    secrets: inherit
    
  build-ubuntu-release-tests:
    needs: lint
    uses: ./.github/workflows/setup_environment.yml
    with:
      os: ubuntu-latest
      build: true
      build_installer: false
      qmake_extra: "CONFIG+=tests CONFIG+=noPch CONFIG+=ccache CONFIG+=no-sanitizers"
      trik_python3_version_minor: 10
  
  build-altlinux-release-tests:
    needs: lint
    uses: ./.github/workflows/setup_environment.yml
    with:
      os: ubuntu-latest
      container_name: "altlinux/base:latest"
      build: true
      build_installer: false
      qmake_extra: "CONFIG+=tests CONFIG+=noPch CONFIG+=ccache CONFIG+=no-sanitizers"
      tests: true
      
  build-rockylinux-release-tests:
    needs: lint
    uses: ./.github/workflows/setup_environment.yml
    with:
      os: ubuntu-latest
      container_name: "rockylinux:9"
      build: true
      build_installer: false
      qmake_extra: "CONFIG+=tests CONFIG+=noPch CONFIG+=ccache CONFIG+=sanitizer CONFIG+=sanitize-undefined"
      gcc_version: "13"

  build-ubuntu-debug-tests:
    needs: lint
    uses: ./.github/workflows/setup_environment.yml
    with:
      os: ubuntu-latest
      build: true
      build_installer: false
      config: debug
      qmake_extra: "CONFIG+=tests CONFIG+=noPch CONFIG+=ccache CONFIG+=small_debug_info CONFIG+=sanitizer CONFIG+=sanitize_undefined CONFIG+=sanitize_address"
      trik_python3_version_minor: 10
      
  build-ubuntu-installer:
    needs: [build-ubuntu-debug-tests, build-ubuntu-release-tests]
    uses: ./.github/workflows/setup_environment.yml
    with:
      os: ubuntu-latest
      build: true
      build_installer: true
      qmake_extra: "CONFIG+=noPch CONFIG+=ccache"
      tests: true
      trik_python3_version_minor: 10
    secrets: inherit
    
  build-rockylinux-installer:
    needs: [build-rockylinux-release-tests]
    uses: ./.github/workflows/setup_environment.yml
    with:
      os: ubuntu-latest
      container_name: "rockylinux:9"
      build: true
      build_installer: true
      tests: true
      qmake_extra: "CONFIG+=noPch CONFIG+=ccache"
      gcc_version: "13"
    secrets: inherit
