name: Set up Action

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
   
on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      executor:
        required: false
        type: string
        default: "time docker exec -i builder"
      lint:
        required: false
        type: string
        default: 'false'
      build:
        required: true
        type: string
      build_installer:
        required: true
        type: string
      trik-qt-version:
        required: false
        type: string
        default: '5.12'
      trik-python3-version-minor:
        required: false
        type: string
        default: '9'
      qtifw-version:
        required: false
        type: string
        default: '4.6.1'
      xcode-version:
        required: false
        type: string
        default: '13.4'
      config:
        required: false
        type: string
        default: 'release'
      qmake_extra:
        required: false
        type: string
        default: "CONFIG+=tests CONFIG+=noPch CONFIG+=ccache"
      tests:
        required: false
        type: string
        default: "./run-simulator-tests.sh"
      container_name:
        required: false
        type: string
        default: ""

jobs:
  job:
    defaults:
      run:
        shell: bash

    runs-on: ${{ inputs.os }}
    container:
      image: ${{ inputs.container_name }}
      options: >
        -v ${{ github.workspace }}:${{ github.workspace }} 
        -w ${{ github.workspace }}
    
    steps:
    - name: Install dependencies
      run: apt-get update && apt-get -y dist-upgrade && apt-get install -y glibc git
      if: startsWith(inputs.container_name, 'altlinux') == true

    - name: Configure git
      run: |
          git config --global core.symlinks true
          git config --global core.autocrlf input

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Set up environment
      run: buildScripts/github/install_${{ runner.os }}.sh
      env:
        TRIK_QT_VERSION: ${{ inputs.trik-qt-version }}
        TRIK_PYTHON3_VERSION_MINOR: ${{ inputs.trik-python3-version-minor }}
        QTIFW_VERSION: ${{ inputs.qtifw-version }}
        XCODE_VERSION: ${{ inputs.xcode-version }}

    - name: Lint
      run: ${{ inputs.executor }} buildScripts/github/vera_translation.sh
      if: ${{ inputs.lint == 'true' }}

    - name: Restore cache
      uses: actions/cache@v4
      with:
        path: ${{ github.workspace }}/.ccache/${{ inputs.os }}-c${{ inputs.container_name }}-${{ inputs.config }}
        key: ccache-c${{ inputs.container_name }}-${{ inputs.os }}-${{ inputs.config }}-${{ inputs.qmake_extra }}-${{ github.sha }}
        restore-keys: |
          ccache-c${{ inputs.container_name }}-${{ inputs.os }}-${{ inputs.config }}-${{ inputs.qmake_extra }}
          ccache-c${{ inputs.container_name }}-${{ inputs.os }}-${{ inputs.config }}
          ccache-c${{ inputs.container_name }}-${{ inputs.os }}
      if: ${{ inputs.build == 'true' }}

    - name: Build
      run: buildScripts/github/build.sh
      env:
        TRIK_QT_VERSION: ${{ inputs.trik-qt-version }}
        TRIK_PYTHON3_VERSION_MINOR: ${{ inputs.trik-python3-version-minor }}
        CCACHE_DIR: ${{ github.workspace }}/.ccache/${{ inputs.os }}-c${{ inputs.container_name }}-${{ inputs.config }}
        CCACHE_CONFIGPATH: ${{ github.workspace }}/ccache.conf
        PROJECT: "studio"
        CONFIG: ${{ inputs.config }}
        EXECUTOR: ${{ inputs.executor }}
        QMAKE_EXTRA: ${{ inputs.qmake_extra }}
      if: ${{ inputs.build == 'true' }}

    - name: Save build cache
      uses: actions/cache/save@v4
      with:
        path: ${{ github.workspace }}/.ccache/${{ inputs.os }}-c${{ inputs.container_name }}-${{ inputs.config }}
        key: ccache-c${{ inputs.container_name }}-${{ inputs.os }}-${{ inputs.config }}-${{ inputs.qmake_extra }}-${{ github.sha }}
      if: ${{ inputs.build == 'true' }}
        
    - name: Run tests
      run: ${{ inputs.executor }} buildScripts/github/run_tests.sh
      env:
        TRIK_PYTHON3_VERSION_MINOR: ${{ inputs.trik-python3-version-minor }}
        TESTS: ${{ inputs.tests }}
      if: ${{ inputs.build == 'true' }}
      
    - name: Build Installer
      run: |
        BRANCH_NAME=${BRANCH_NAME//\//-}
        ${{ inputs.executor }} env CONFIG=${{ inputs.config }} buildScripts/github/test.sh && buildScripts/github/build_installer.sh
      env:
        TRIK_QT_VERSION: ${{ inputs.trik-qt-version }}
        TRIK_PYTHON3_VERSION_MINOR: ${{ inputs.trik-python3-version-minor }}
        CCACHE_DIR: ${{ github.workspace }}/.ccache/${{ inputs.os }}-c${{ inputs.container_name }}-${{ inputs.config }}
        CCACHE_CONFIGPATH: ${{ github.workspace }}/ccache.conf
        PROJECT: "studio"
        CONFIG: ${{ inputs.config }}
        EXECUTOR: ${{ inputs.executor }}
        QMAKE_EXTRA: ${{ inputs.qmake_extra }}
        TESTS: ${{ inputs.tests }}
        BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
        PULLREQUESTNUMBER: ${{ github.event.pull_request.number }}
        ssh_key: ${{ secrets.DL_PRIVATE_SSH_KEY }}
        username: ${{ secrets.DL_USERNAME }}
        host: ${{ secrets.DL_HOST }}
      if: ${{ inputs.build_installer == 'true' }}

    - name: Upload installer artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ runner.os }}-installer
        path: |
          installer/*.exe
          installer/*.run
          installer/*.dmg
      if: ${{ inputs.build_installer == 'true' }}
